swiper-container {
  height: 150px !important;
  border-radius: 5px;
}

swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

ion-content {
  .price {
    text-decoration: line-through;
  }
}
