swiper-container {
  height: 148px !important;
  border-radius: 5px;
  img {
    width: 90%;
  }

  --swiper-pagination-bullet-inactive-color: var(--ion-color-medium, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

ion-header {
  .cart-button {
    position: relative;
  }

  .cart-badge {
    position: absolute;
    top: 0; /* Adjust the top position as needed */
    right: -5px; /* Adjust the right position as needed */
  }
}
ion-content {
  .price {
    text-decoration: line-through;
  }
}
