<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="logo-apple"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Binder</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <swiper-container
    #swiper
    (afterinit)="onSwiperReady()"
    [autoplay]="true"
    [keyboard]="true"
    [loop]="true"
    [pagination]="true"
    (slideChange)="onSlideChange($event)"
  >
    @for (item of [1,2,3,4]; track $index) {
    <swiper-slide>
      <img
        src="https://images.pexels.com/photos/18111140/pexels-photo-18111140/free-photo-of-sign-of-casino-cinema-hanging-on-facade.jpeg"
        alt="banners"
      />
    </swiper-slide>
    }
  </swiper-container>
</ion-content>
