swiper-container {
  height: 150px !important;
  border-radius: 5px;
}

swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

ion-header {
  .cart-button {
    position: relative;
  }

  .cart-badge {
    position: absolute;
    top: 0;
    right: -5px;
  }
}
ion-content {
  .price {
    text-decoration: line-through;
  }
}
