<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="logo" src="../../assets/images/logo.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Binder</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentSortPopover($event)">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
      <ion-button (click)="goToCartPage()" class="cart-button">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge
          *ngIf="totalItemsInCart > 0"
          color="danger"
          class="cart-badge"
          >{{ totalItemsInCart }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <swiper-container
    #swiper
    (afterinit)="onSwiperReady()"
    [autoplay]="true"
    [keyboard]="true"
    [pagination]="true"
  >
    @for (index of [1,2,3]; track $index) {
    <swiper-slide>
      <img
        [src]="'../../assets/images/banner-' + index + '.png'"
        alt="banners"
      />
    </swiper-slide>
    }
  </swiper-container>

  <ion-searchbar
    *ngIf="courses.length > 0"
    mode="ios"
    placeholder="Search"
    (ionInput)="onSearchTextChanged($event)"
    (ionClear)="onSearchCancel($event)"
  ></ion-searchbar>

  <!-- Courses section starts -->
  @for (course of filteredCourses; track $index) {
  <ion-card mode="ios">
    <img alt="image-placeholder" src="../../assets/images/banner-2.png" />
    <ion-card-header mode="md">
      <ion-card-title>{{ course.courseName }}</ion-card-title>
      <ion-card-subtitle>{{ course.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>Price </strong>
        <span [class.price]="course.discountPercentage.length"
          >{{ course.actualPrice }}</span
        >
      </p>
      <p *ngIf="course.discountPercentage.length">
        <strong>Discounted Price </strong> {{ course.discountPrice }}
      </p>
      <p>
        <ion-chip *ngFor="let tag of course.tags"> {{ tag }} </ion-chip>
      </p>
      <ion-button (click)="addToCart(course)" fill="clear" size="small">
        <ion-icon slot="icon-only" name="cart"></ion-icon
      ></ion-button>

      <ion-button
        (click)="addToWishlist(course)"
        fill="clear"
        shape="round"
        size="small"
      >
        <ion-icon
          slot="icon-only"
          [color]="!!courseService.isInWishlist(course)?'warning':'primary'"
          name="star"
        ></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="cardClickAction(course)" shape="round">
        View
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  }
  <!-- Courses section ends -->

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
